<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Now you're ready to load your data into Neo4j! View the Cypher scripts to import your data below or you can connect directly to an existing Neo4j instance.
</div>

<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#cypher" aria-controls="cypher" role="tab" data-toggle="tab">Generate Cypher</a></li>
        <li role="presentation"><a href="#connect" aria-controls="connect" role="tab" data-toggle="tab">Connect to Existing Neo4j Instance</a></li>
        <li role="presentation"><a href="#loadcsv" aria-controls="loadcsv" role="tab" data-toggle="tab">LOAD CSV Cypher</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="cypher">
            <h2 class="text-left">Cypher <small>Run this Cypher in a Neo4j instance to import your data.</small></h2>
            <p class="text-right"><a href="#download">Download</a> | <a href="#copy">Copy</a></p>
            <textarea class="form-control" rows="25" disabled>{{cypher}}</textarea>
        </div>

        <div role="tabpanel" class="tab-pane" id="connect">
            <h2 class="text-left">Connect to Neo4j <small>Import to an existing Neo4j instance</small></h2>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputNeo4jURL" class="col-sm-2 control-label">Neo4j URL</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNeo4jURL" placeholder="http://localhost:7474" value="http://localhost:7474" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNeo4jUser" class="col-sm-2 control-label">Neo4j Username</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNeo4jUser" placeholder="(Optional)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNeo4jPassword" class="col-sm-2 control-label">Neo4j Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputNeo4jPassword" placeholder="(Optional)">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" id="importButton">Import</button>
                    </div>
                </div>
            </form>

            <div class="col-sm-6">
                <textarea class="form-control" id="statusTextArea" rows="10" disabled>Status...</textarea>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="loadcsv">
            <h2 class="text-left">Cypher <small>Run this Cypher in a Neo4j instance to import your data.</small></h2>
            <p class="text-right"><a href="#download">Download</a> | <a href="#copy">Copy</a></p>
            <textarea class="form-control" rows="10" disabled>{{loadCSVCypher}}</textarea>
        </div>
    </div>


</div>

<script>
    $(function(){

        var loadCSVCypher= {{{stringify this.loadCSVCypher}}};
        $('#importButton').click(function(e) {
            e.preventDefault();


            var neo4jURL = $('#inputNeo4jURL').val(),
                neo4jUser = $('#inputNeo4jUser').val(),
                neo4jPassword = $('#inputNeo4jPassword').val();
            $('#statusTextArea').val("Running query...");

            if (neo4jURL === '') {
                alert("You must specify a valid URL for an existing Neo4j instance.");
                return false;
            }

            var neo4jConn = {
                "neo4jURL": neo4jURL,
                "neo4jUser": neo4jUser,
                "neo4jPassword": neo4jPassword
            };

            var statements = [];
            var cypherArr = loadCSVCypher.split(";");
            _.forEach(cypherArr, function(cypher) {
                var obj = {};
                obj['statement'] = cypher;
                obj['parameters'] = {};
                obj['includeStats'] = true;
                obj['resultDataContents'] = ["row", "graph"];
                if (cypher.length > 1) {
                    statements.push(obj);
                }
            });

            var url = neo4jURL.replace(/\/db\/data.*/,"") + "/db/data/transaction/commit";
            function authHeader() {
                if (neo4jUser && neo4jPassword) {
                    return {"Authorization": "Basic " + btoa(neo4jUser + ":" + neo4jPassword)};
                } else {
                    return {};
                }
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    statements: statements
                }),
                contentType: 'application/json',
                url: url,
                error: function(xhr, statusText, errorThrown){
                   $('#statusTextArea').val(xhr.responseText || "Request failed, check authorization settings.");
                },
                headers: authHeader(),
                success: function(data) {
                    console.log(data);
                    $('#statusTextArea').val(JSON.stringify(data));
                }
            });

//            $.ajax({
//                type: 'POST',
//                data: JSON.stringify(neo4jConn),
//                contentType: 'application/json',
//                url: '/importNeo4jInstance',
//                success: function(data) {
//                    console.log(data);
//                    $('#statusTextArea').val(JSON.stringify(data));
//                },
//                error: function(a,b,c) {
//                    console.log(a);
//                    console.log(b);
//                    console.log(c);
//                    $('#statusTextArea').val(JSON.stringify(b) + JSON.stringify(c));
//
//                }
//            });



        });
        // event handler for import button
        // ajax call to trigger connection to Neo4j and begin import

    });
</script>