<div class="row">


    <div class="btn-group" role="group" aria-label="import-toggle">
        <button type="button" class="btn btn-default" id="">Generate Cypher</button>
        <button type="button" class="btn btn-default" id="">Connect to Neo4j</button>
    </div>


</div>

<script>
    $(function(){
        // event handler to toggle divs for cypher / connect to Neo4j on/off

    });
</script>