<div class="container">
    <div class="starter-template">
        <div class="row">
    <h2>{{filename}}</h2>

    <table class="table">
        <tbody>
        {{{previewTable meta.fields data}}}
        </tbody>
    </table>
</div>
        </div></div>