<button type="button" class="close" onclick="$('[data-poload]').popover('hide');">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
</button>

<h4>{{filename}} <small> preview</small></h4>
<table class="table table-responsive" style="max-width:100%;">
    <tbody>
    {{{previewTable meta.fields data}}}
    </tbody>
</table>
