<div class="container">
    <div class="starter-template">

        <h2>Neo Technology Privacy Policy for neo4j-csv-import. </h2>

        <p class="text-left">Thank you for using this neo4-csv-import (“App”) offered by Neo Technology, Inc. and Network Engine for Objects in Lund AB (collectively “Neo Technology”).  This Privacy Policy describes our policies for Neo Technology’s collection, use and disclosure of personally identifiable information about users of our App.</p>

        <h4>Information Collection and Use</h4>
        <p class="text-left">To use the App, you will be able to elect to upload a file to your own Neo4j software instance.  Any personally identifiable information that you voluntarily include in the uploaded files will be transmitted to your Neo4j instance.  If you use this App locally, your files will be transferred via the App to your Neo4j instance hosted on your own machine or server. If you use this App through Heroku, your files will be transferred via the App through a remote server to your Neo4j instance.   In either case, your files will be stored temporarily within the App for one hour or until you elect to purge them from the App (whichever is sooner).  You can purge your files from the App after the file upload and data modeling using your Neo4j instance and uploaded files.  We will only use your personally identifiable information in your files as described above to transfer such information into your Neo4j instance.   For the App to interact with your Neo4j instance, the App may ask you for your password but we will not store your password on our servers.</p>

        <h4>Children’s Privacy</h4>

        <p class="text-left">This App is not intended for children under the age of 13. Neo Technology does not target this App to children under 13. Neo Technology does not knowingly collect personally identifiable information from children under the age of 13.</p>

        <h4>Aggregate Information</h4>

        <p class="text-left">The App collects information about the use of the App that is maintained, used and disclosed in aggregate form only and which will not contain your personally identifiable information, for example, without limitation, the total number of users of our App, browser type and IP addresses. We may analyze this data for trends and statistics in the aggregate, and we may use such aggregate information to administer and improve the App, track users’ movement, and gather broad demographic information for aggregate use.</p>

        <h4>Disclosure</h4>

        <p class="text-left">If you use this App through Heroku, your files will be transferred through a remote server for a short time period to your Neo4j instance.   After the file upload and data modeling using your Neo4j instance and uploaded files, you can elect to remove your uploaded files.</p>

        <p class="text-left">We may disclose your personally identifiable information (a) if we are required to do so by law, regulation or other government authority or otherwise in cooperation with an ongoing investigation of a governmental authority, (b) to enforce the Neo Technology Terms of Use agreement or to protect our rights or (c) to protect the safety of users of our App and our services. We will not sell your personally identifiable information to any company or organization, but we may transfer your personally identifiable information to a successor entity upon a merger, consolidation or other corporate reorganization in which Neo Technology participates or to a purchaser or acquirer of all or substantially all of Neo Technology’s assets to which this App relates. </p>

        <h4>Security</h4>

        <p class="text-left">We may employ procedural and technological measures, consistent with industry practice. Such measures are reasonably designed to help protect your personally identifiable information from loss, unauthorized access, disclosure, alteration or destruction. Neo Technology may use an obfuscated URL and other security measures to help prevent unauthorized access to your personally identifiable information.</p>

        <h4>Questions</h4>

        <p class="text-left">If you have any questions regarding this Privacy Policy please contact us via email at webinfo@neotechnology.com.</p>
         
        <h4>Notice to Users Outside of the United States of America </h4>

        <p class="text-left">Any information you enter on this App may be transferred outside of the country in which you are located to the United States of America which does not offer an equivalent level of protection to that required in other countries, such as the European Union. In particular, you are advised that the United States of America uses a sectoral model of privacy protection that relies on a mix of legislation, governmental regulation, and self-regulation. Article 26 of the European Union’s Data Protection Directive (Directive 95/46/EC, 1995 O.J. (L 281) 31) allows for transfer of personal data from the European Union to a third country if the individual has unambiguously given his consent to the transfer of personally identifiable information, regardless of the third country’s level of protection. By using this App or the services, you consent to the transfer of all such information to the United States of America which may not offer an equivalent level of protection to that required in the European Union and to the processing of that information by Neo Technology on its servers located in the United States of America as described in this Privacy Policy.</p>

        <h4>Privacy Policy Updates</h4>
        <p class="text-left">Neo Technology may need to update this Privacy Policy from time to time. If so, Neo Technology will post our updated Privacy Policy on our App. Neo Technology encourages you to review this Privacy Policy regularly for any changes. Your continued use of this App and/or continued provision of personally identifiable information to us will be subject to the terms of the then-current Privacy Policy.</p>

        <p class="text-left">This Privacy Policy was last updated: November 16, 2015
        This Privacy Policy is effective as of: November 16, 2015</p>

    </div>
</div>